#menu {
  width: 500px;
  height: 400px;
  font-size: 35px;
  margin: auto;
  background-image: url("../images/KorgStartsida.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 55px;
}

.menuButton{
  height: 40px;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  background: transparent;
  font-family: regular;
  color: #891811;
  cursor: pointer;
}

.menuButton:hover {
  transform: rotate(8deg);
  font-weight: bold;
  text-shadow: 2px 2px black;
}

#plank {
  position: absolute;
  z-index: -1;
  margin-left: 417px;
  margin-top: -95px;
}

#logoDiv{
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
  font-family: college;
  src: url(../fonts/JACKPORT_COLLEGE_NCV.ttf);
}

@font-face {
  font-family: regular;
  src: url(../fonts/JACKPORT_REGULAR_NCV.ttf);
}
