

#menu {
  border: 3px solid black;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 30px;
  background-color: #f07e00;
}

#play {
  position: relative;
  height: 50px;
  text-align: center;

}

#colour {
  position: relative;
  height: 50px;
  text-align: center;
}

#play:hover, #colour:hover {
  background: white;
}
