#menu {
  width: 300px;
  font-size: 30px;
  margin: auto;
  margin-top: 200px;
}

#changeColour, #play {
  height: 50px;
  text-align: center;
  margin-top: 40px;
  background-color: white;
  border: 1px solid;
  background: transparent;
<<<<<<< HEAD
  font-family: regular;
=======
  color: #891811;
  cursor: pointer;
>>>>>>> origin/master
}

#play:hover, #changeColour:hover {
  transform: rotate(10deg);
  font-weight: bold;
}

#plank {

}

@font-face {
  font-family: college;
  src: url(../fonts/JACKPORT_COLLEGE_NCV.ttf);
}

@font-face {
  font-family: regular;
  src: url(../fonts/JACKPORT_REGULAR_NCV.ttf);
}
